:root {
    /* Основные цвета */
    --background-primary: #EFEEF3;
    --background-secondary: #1d2633;
    --background-hover: #252f3d;

    /* Текст */
    --text-primary: #fff;
    --text-secondary: #8994a3;
    --text-dark: #333;

    /* Акцентные цвета */
    --accent-primary: #45aef5;
    --accent-hover: #3d9cdb;

    /* Вспомогательные цвета */
    --border-color: rgba(255, 255, 255, 0.1);
    --overlay-light: rgba(255, 255, 255, 0.1);
    --overlay-light-hover: rgba(255, 255, 255, 0.15);
    --overlay-light-active: rgba(255, 255, 255, 0.2);

    /* Цвета для состояний */
    --error-color: #ff4141;
    --undefined-color: #9a22ef;
}

/* Темная тема */
html.dark {
    --background-primary: #10161F;
}

body {
    margin: 0px;
}

.tkml-cont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    flex-direction: column;
}

.undefined {
    border: 1px solid var(--undefined-color);
    padding: 10px;
    margin: 5px 0;
}

.undefined .error {
    color: var(--undefined-color);
    font-size: 12px;
    margin-bottom: 5px;
}

.panic {
    border: 1px solid var(--error-color);
    padding: 10px;
    margin: 5px 0;
}

.panic .error {
    color: var(--error-color);
    font-size: 12px;
    margin-bottom: 5px;
}

html {
    background-color: var(--background-primary);
}

.title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: var(--text-dark);
}

.section .title {
    font-size: 18px;
    margin: 0;
    color: inherit;
}

.title.center {
    text-align: center;
}

.button {
    margin: 10px 0;
    background-color: var(--accent-primary);
    color: var(--text-primary);
    border: none;
    position: relative;
    user-select: none;
    border-radius: 16px;
    padding: 16px 20px 16px;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    transition: all 0.2s ease;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(69, 174, 245, 0.2);

    /* Add margin to the right of each button except the last one */
    &+.button {
        margin-left: 10px;
    }
}

.button.secondary {
    background-color: var(--background-secondary);
    box-shadow: none;
}

.button.secondary:hover {
    background-color: var(--background-hover);
    box-shadow: none;
}

.button.secondary:active {
    transform: translateY(1px);
    box-shadow: none;
}

.button:hover {
    box-shadow: 0 4px 8px rgba(69, 174, 245, 0.3);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(69, 174, 245, 0.1);
}

.button.loading {
    pointer-events: none;
    color: transparent;
}

.button.loading::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
    animation: button-spinner 0.6s linear infinite;
}

@keyframes button-spinner {
    to {
        transform: rotate(360deg);
    }
}

.list {
    background-color: var(--background-secondary);
    border-radius: 14px;
    padding: 0px;
    margin: 16px 0px;
    overflow: hidden;
}

.list-item {
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
    padding: 11px 16px 14px;
}

.list-section {
    padding: 0px;
}

.list-item:last-child {
    border-bottom: none;
}

a {
    color: var(--text-primary);
    position: relative;
    transition: opacity 0.2s ease;
}

a.loading {
    pointer-events: none;
    background: linear-gradient(90deg,
            var(--text-primary) 0%,
            var(--accent-primary) 50%,
            var(--text-primary) 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: link-loading 0.3s ease-in-out infinite;
}

@keyframes link-loading {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

html.dark {
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.desc {
    color: var(--text-secondary);
    font-size: 14px;
}

.desc.center {
    text-align: center;
}

.desc a {
    color: var(--text-secondary)
}

.dark .title {
    color: var(--text-primary);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input:focus {
    outline: none;
    background-color: var(--overlay-light);
    box-shadow: 0 0 0 2px var(--text-primary);

    ::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

}

.input:focus::placeholder {
    color: var(--overlay-light-active);
}

.dark .input {
    background-color: var(--background-secondary);
}

.input-wrapper.loading .input {
    padding-right: 40px;
    pointer-events: none;
}

.input-spinner {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    border-radius: 50%;
    border: 2px solid var(--overlay-light);
    border-top-color: var(--text-primary);
    animation: button-spinner 0.6s linear infinite;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    display: none;
}

.input-wrapper.loading .input-spinner {
    opacity: 1;
    display: block;
}

.code {
    margin: 16px 0;
    border-radius: 8px;
    background: var(--background-secondary);
    overflow: auto;
}

.code .hljs {
    background: var(--background-secondary);
    color: var(--text-primary);
    display: block;
    padding: 16px;
    font-family: 'Fira Code', 'Consolas', monospace;
    font-size: 14px;
    line-height: 1.5;
    tab-size: 4;
}

.info {
    background-color: var(--background-secondary);
    border-radius: 14px;
    padding: 6px 0px 6px 0px;
    margin: 16px 0px;
    overflow: hidden;
}

.info-item {
    padding: 8px 16px;
}

.info-item.info-img {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info-item.info-img:first-child {
    margin-top: -6px;
}


.info-title .title {
    margin: 15px 0px 0px;
}

.info-desc .desc {
    margin: 0px;
}

.info-item .img {
    border-radius: 0px;
    width: 100%;
    height: 200px;
}

.info-section {
    padding: 0px;
}

.info-section .section {
    padding: 6px 16px;
}

.info-section .section-content {
    display: flex;
    align-items: center;
}

.info-p p {
    margin: 0px;
}

.img {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: 0px;
    height: var(--img-height, auto);
    object-fit: cover;
    width: 100%;
}

.img.circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.info-button .button {
    margin: 0px;
}

.tkml-cont {
    max-width: 600px;
    margin: 0 auto;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s;
    padding: 3px 0px;
}

.list-checkbox {
    padding: 0px;
}

.list-item .checkbox {
    padding: 11px 16px 14px;
}

.checkbox.loading {
    pointer-events: none;
}

.checkbox-label {
    color: var(--text-primary);
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
}

.checkbox-toggle {
    position: relative;
    width: 51px;
    height: 31px;
    background: var(--overlay-light);
    border-radius: 34px;
    transition: background 0.2s;
    flex-shrink: 0;
}

.checkbox.checked .checkbox-toggle {
    background: var(--accent-primary);
}

.checkbox-slider {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 2px;
    bottom: 2px;
    background-color: var(--text-primary);
    border-radius: 50%;
    transition: transform 0.2s;
    box-sizing: border-box;
}

.checkbox.checked .checkbox-slider {
    transform: translateX(20px);
}

.checkbox:hover .checkbox-toggle {
    background: var(--overlay-light-hover);
}

.checkbox.checked:hover .checkbox-toggle {
    background: var(--accent-hover);
}

.section {
    background: var(--background-secondary);
    padding: 0 16px;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 24px;
    min-height: 52px;
    display: flex;
    align-items: center;
    position: relative;
}

.section.deactivated {
    color: var(--text-secondary);
}

.list-item .section {
    border-radius: 0px;
}

.section .img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 16px;
}

.section.clickable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s;
}

.section.clickable:hover {
    background: var(--background-hover);
}

.section.loading {
    pointer-events: none;
    opacity: 1;
}

.section-content {
    flex: 1;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.section-content .pill {
    margin: 0 6px 0 0;
    vertical-align: baseline;
}

.section-arrow {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
}

.section-arrow:after {
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--overlay-light);
    border-right: 2px solid var(--overlay-light);
    transform: translateY(-50%) rotate(45deg);
    opacity: 1;
    transition: opacity 0.2s;
}

.section.clickable:hover .section-arrow:after {
    border-color: var(--overlay-light-hover);
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s;
    padding: 3px 0px;
}

.list-radio {
    padding: 0px;
}

.list-item .radio {
    padding: 11px 16px 14px;
}

.radio.loading {
    pointer-events: none;
}

.radio-label {
    color: var(--text-primary);
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
}

.radio-toggle {
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid var(--overlay-light);
    border-radius: 50%;
    transition: all 0.2s;
    flex-shrink: 0;
}

.radio.checked .radio-toggle {
    border-color: var(--accent-primary);
}

.radio-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    background: var(--accent-primary);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s;
}

.radio.checked .radio-dot {
    transform: scale(1);
}

.radio:hover .radio-toggle {
    border-color: var(--overlay-light-hover);
}

.radio.checked:hover .radio-toggle {
    border-color: var(--accent-hover);
}

.radio.loading .radio-toggle {
    border-color: transparent;
}

.radio.loading .radio-toggle:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin: -14px 0 0 -14px;
    border-radius: 50%;
    border: 2px solid var(--text-primary);
    border-top-color: var(--accent-hover);
    animation: button-spinner 0.6s linear infinite;
}

.section-icon {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    flex-shrink: 0;
    object-fit: contain;
}

.section.clickable:hover .section-icon {
    opacity: 0.8;
}

.section.loading .section-icon {
    display: none;
}

.section.loading .section-content {
    opacity: 1;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    opacity: 0;
    transition: opacity 0.2s;
}

.loader.loading {
    opacity: 1;
}

.loader-spinner {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid var(--overlay-light);
    border-top-color: var(--accent-primary);
    animation: button-spinner 0.6s linear infinite;
}

.section.loading .section-arrow:after,
.section.loading .section-icon {
    display: none;
}

.section.loading.clickable:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    right: 16px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    border: 2px solid var(--overlay-light);
    border-top-color: var(--text-primary);
    animation: button-spinner 0.6s linear infinite;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 62px;
    margin: 0px -20px 0px -20px;
    color: var(--text-primary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid transparent;
    align-items: center;
    min-height: 32px;
    transition: border-color 0.2s;
}

.header.scrolled {
    border-bottom: 1px solid var(--border-color);
}

.header.center {
    text-align: center;
}

.header-back {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--overlay-light);
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 16px;
    margin-right: 14px;
    position: absolute;
}

.header-back:hover {
    background: var(--overlay-light-hover);
}

.header-back:before {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    transform: translateX(2px) rotate(45deg);
}

.back-button {
    display: inline-flex;
    align-items: center;
    padding-left: 44px;
    position: relative;
}

.back-button:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    transform: rotate(45deg);
}

.header-back.loading:before {
    content: '';
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin: 0px;
    border-radius: 50%;
    border: 2px solid var(--overlay-light);
    border-top-color: var(--text-primary);
    animation: back-spinner 0.6s linear infinite;
    transform: translateY(0%) rotate(0deg);
}

.header-back.loading:after {
    display: none;
    /* Hide arrow when loading */
}

@keyframes back-spinner {
    to {
        transform: translateY(0%) rotate(360deg);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 16px;
    padding: 2px 20px;
    color: var(--text-primary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.15s ease, border-color 0.2s;
    margin: 0px -20px 0px;
    border-top: 1px solid var(--border-color);
    margin-top: auto;
}

.footer.down {
    border-top-color: transparent;
}

.footer.autohide {
    transform: translateY(0);
}

.footer.autohide.hidden {
    transform: translateY(100%);
    border-top-color: transparent;
}

/* Pill styles */
.pill {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 12px;
    background: var(--overlay-light);
    color: var(--text-primary);
    font-size: 0.9em;
    margin: 2px 4px 0px 0px;
    vertical-align: middle;
    line-height: 1.5;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pill-icon {
    width: 14px;
    height: 14px;
    margin-left: 4px;
    border-radius: 50%;
}

/* Для группировки пилей в info */
.info-group .pill {
    margin: 2px 2px 0px 0px;
}


/* Container для группировки pills */
.pills-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 4px 0;
    margin: 0 -20px;
    padding: 4px 20px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.pills-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.info-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 16px;
}

.info-group .pills-container {
    margin: 0;
    padding: 0;
}

.w {
    color: #fff;
    display: inline;
}

.br {
    display: block;
}

.br.small {
    height: 10px;
}

.bubble {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 8px 0;
    gap: 4px;
}

.bubble-in {
    align-self: flex-start;
}

.bubble-out {
    align-self: flex-end;
}

.bubble-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bubble-avatar {
    width: 32px;
    height: 32px;
}

.bubble-avatar .img {
    width: 32px;
    height: 32px;
}

.bubble-title .title {
    font-size: 14px;
    margin: 0;
    color: var(--text-secondary);
}

.bubble-content {
    background: var(--background-secondary);
    padding: 12px 16px;
    border-radius: 16px;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 24px;
}

.bubble-in .bubble-content {
    border-top-left-radius: 4px;
}

.bubble-out .bubble-content {
    border-top-right-radius: 4px;
    background: var(--accent-primary);
}

.label {
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0 8px;
    display: block;
}

.label:first-child {
    margin-top: 0;
}

.textarea {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
    position: relative;
    resize: none;
    font-family: inherit;
    min-height: 120px;
}

.textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.textarea:focus {
    outline: none;
    background-color: var(--overlay-light);
    box-shadow: 0 0 0 2px var(--text-primary);
}

.textarea:focus::placeholder {
    color: var(--overlay-light-active);
}

.msg {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    margin: 8px 0;
    font-size: 14px;
    line-height: 20px;
}

.msg-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
}

.msg-icon::before,
.msg-icon::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
}

/* Success style */
.msg-success {
    background: rgba(52, 199, 89, 0.1);
    color: #34C759;
}

.msg-success .msg-icon {
    background: #34C759;
}

.msg-success .msg-icon::before {
    border: solid white;
    border-width: 0 2px 2px 0;
    height: 10px;
    margin: -7px 0 0 -3px;
    transform: rotate(45deg);
    width: 5px;
}

/* Error style */
.msg-error {
    background: rgba(255, 59, 48, 0.1);
    color: #FF3B30;
}

.msg-error .msg-icon {
    background: #FF3B30;
}

.msg-error .msg-icon::before,
.msg-error .msg-icon::after {
    width: 12px;
    height: 2px;
    background: white;
    margin: -1px 0 0 -6px;
}

.msg-error .msg-icon::before {
    transform: rotate(45deg);
}

.msg-error .msg-icon::after {
    transform: rotate(-45deg);
}

/* Warning style */
.msg-warning {
    background: rgba(255, 204, 0, 0.1);
    color: #FFCC00;
}

.msg-warning .msg-icon {
    background: #FFCC00;
}

.msg-warning .msg-icon::before {
    width: 2px;
    height: 8px;
    background: white;
    margin: -6px 0 0 -1px;
}

.msg-warning .msg-icon::after {
    width: 2px;
    height: 2px;
    background: white;
    margin: 3px 0 0 -1px;
    border-radius: 50%;
}

/* Info style */
.msg-info {
    background: rgba(69, 174, 245, 0.1);
    color: var(--accent-primary);
}

.msg-info .msg-icon {
    background: var(--accent-primary);
}

.msg-info .msg-icon::before {
    width: 2px;
    height: 8px;
    background: white;
    margin: -4px 0 0 -1px;
}

.msg-info .msg-icon::after {
    width: 2px;
    height: 2px;
    background: white;
    margin: -8px 0 0 -1px;
    border-radius: 50%;
}


.input.error,
.textarea.error {
    box-shadow: 0 0 0 2px var(--error-color);
}

.input.error:focus,
.textarea.error:focus {
    box-shadow: 0 0 0 2px var(--text-primary);
}

/* Remove error state when user starts typing */
.input:focus,
.textarea:focus {
    box-shadow: 0 0 0 2px var(--text-primary);
}

.input:not(:placeholder-shown),
.textarea:not(:placeholder-shown) {
    box-shadow: none;
}

/* Pagination styles */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 16px 0;
    flex-wrap: wrap;
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    background: var(--background-secondary);
    color: var(--text-primary);
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination-item:hover {
    background: var(--background-hover);
}

.pagination-item.active {
    background: var(--accent-primary);
    font-weight: 600;
    cursor: default;
}

.pagination-prev svg,
.pagination-next svg {
    flex-shrink: 0;
}

.pagination-prev,
.pagination-next,
.pagination-page {
    padding-left: 10px;
}


/* Bullet styles */
.bullet-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin: 8px 0;
}

.bullet-marker {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--accent-primary);
    margin-top: 8px;
}

.bullet-content {
    flex: 1;
    color: var(--text-dark);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bullet-content .pill {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
}

.dark .bullet-content {
    color: var(--text-primary);
}